appdirs==1.4.4
attrs==19.3.0
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.1
black==19.10b0
brotlipy==0.7.0
census==0.8.14
certifi==2020.6.20
chardet==3.0.4
citipy==0.0.5
click==7.1.2
colorama==0.4.3
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
Flask==1.1.2
future==0.18.2
geojson==2.5.0
gmaps==0.9.0
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jellyfish==0.6.1
Jinja2==2.11.2
jsonschema==3.2.0
jupyter-core==4.6.3
kdtree==0.16
kiwisolver==1.2.0
MarkupSafe==1.1.1
mistune==0.8.4
mkl-random==1.1.1
mkl-service==2.3.0
mypy-extensions==0.4.3
nbconvert==5.6.1
pandocfilters==1.4.2
pathspec==0.7.0
pickleshare==0.7.5
prompt-toolkit==1.0.15
Pygments==2.6.1
pymongo==3.11.0
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
pywinpty==0.5.7
pyzmq==19.0.2
selenium==3.141.0
Send2Trash==1.5.0
simplegeneric==0.8.1
soupsieve==2.0.1
splinter==0.14.0
spotipy==2.16.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
traitlets==4.3.3
typed-ast==1.4.1
us==2.0.2
webencodings==0.5.1
Werkzeug==1.0.1
win-inet-pton==1.1.0
wincertstore==0.2
zipp==3.1.0
