appdirs==1.4.4
argon2-cffi @ file:///D:/bld/argon2-cffi_1596629999983/work
attrs==19.3.0
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.1
black==19.10b0
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1588608214987/work
brotlipy==0.7.0
census==0.8.14
certifi==2020.6.20
cffi @ file:///D:/bld/cffi_1595805752074/work
chardet==3.0.4
citipy==0.0.5
click==7.1.2
colorama==0.4.3
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
Flask==1.1.2
future==0.18.2
geojson==2.5.0
gmaps==0.9.0
html5lib @ file:///tmp/build/80754af9/html5lib_1593446221756/work
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1593211549301/work
ipykernel @ file:///D:/bld/ipykernel_1595447100255/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jellyfish==0.6.1
Jinja2==2.11.2
jsonschema==3.2.0
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1594732094290/work
jupyter-core==4.6.3
kdtree==0.16
kiwisolver==1.2.0
lxml @ file:///C:/ci/lxml_1594821524941/work
MarkupSafe==1.1.1
matplotlib @ file:///C:/ci/matplotlib-base_1592846129657/work
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
mypy-extensions==0.4.3
nb-conda-kernels @ file:///D:/bld/nb_conda_kernels_1596524202462/work
nbconvert==5.6.1
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1594060262917/work
notebook @ file:///D:/bld/notebook_1596502661158/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1596233948451/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas @ file:///C:/ci/pandas_1596825959733/work
pandocfilters==1.4.2
pathspec==0.7.0
pickleshare==0.7.5
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1590412252446/work
prompt-toolkit==1.0.15
psycopg2 @ file:///C:/ci/psycopg2_1594303009470/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
Pygments==2.6.1
pymongo==3.11.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
pywinpty==0.5.7
pyzmq==19.0.2
regex @ file:///C:/ci/regex_1596829824428/work
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
scipy @ file:///C:/ci/scipy_1592930618155/work
selenium==3.141.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
soupsieve==2.0.1
splinter==0.14.0
spotipy==2.16.0
SQLAlchemy @ file:///C:/ci/sqlalchemy_1598356696886/work
terminado==0.8.3
testpath==0.4.4
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
tornado==6.0.4
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
urllib3 @ file:///tmp/build/80754af9/urllib3_1597086586889/work
us==2.0.2
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1595859607677/work
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension @ file:///D:/bld/widgetsnbextension_1594164575581/work
win-inet-pton==1.1.0
wincertstore==0.2
zipp==3.1.0
